<!--<div id="list-item-1-container">
  <div id="list-item-image" class="flex-child">
     <img src="assets/mava.png" alt="img">
  </div>
  <div id="list-item-title" class="flex-child">
     <span id="span-new"*ngIf="new">NEW</span><div id="name-label"><a href="/product-detail/{{sku}}">{{displayname}}</a></div>
     <div id="sku-label">{{sku}}</div>
  </div>
  <div id="list-item-price" class="flex-child">
     <div>${{price}}</div>
  </div>
  <div id="grid-item-quantity" class="flex-container">
      <span (click) = "removeCartOne(sku)">-</span>
      <input type="text" placeholder="0" [(ngModel)]="quantity" class="flex-child">
      <span (click) = "addCartOne(sku)">+</span>
  </div>
</div>
-->
<div class="card">
    
    <div class="content">
        <div id="name-label"><a href="/product-detail/{{sku}}">{{displayname}}</a></div>
        <div>{{sku}}</div>
    </div>
    <div class="price">
        ${{price}}
    </div>
    <div class="foot">
        <span class="float-right">Disponible</span>
    </div>
</div>