#list-item-1-container{
    display:flex;

    flex-direction: row;
    margin: 10px 0;
    background-color:white;
    
}
#list-item-title{
    flex:100%;
}
#list-item-image,#list-item-price,#list-item-quantity{
    height: 80px;
    width: 80px;
}
#list-item-image img{
    width:40px;
    height:40px;
    padding:20px;
}
#list-item-price{
    text-align: center;
    line-height: 80px;
}
#span-new{
    float:left;
    margin-right: 3px;
}
#list-item-quantity *{
    float:left;
    text-align: center;
    line-height: 80px;
}
#list-item-quantity input{
    width:30px;
    height:30px;
    margin:22px 0;
    border:2px solid black;
}
/*NUEVO*/
.card{
    font-size: 4vw;
    width:96vw;
    height:110px;
    margin:2vh 2vw;
    background-color: whitesmoke;
    border-radius: 2vw;
    color:#333;
}

.foot{
    position: relative;
    top: 85px;
    height: 24px;
    width: 100%;
    border-top:1px dashed #aaa;
    background-color: #ddd;
    border-radius: 0 0 2vw 2vw;
    color:#333;
}
.float-right{
    float:right;
    margin-right: 2vw;
    line-height: 23px;
}
.content{
    width: 72vw;
    position: absolute;
    margin:10px 2vw;
    color:#333
}
.content div{
    color: #555;
    font-style: italic;
    font-size: 3vw;
    margin-top: 1vw;
}
.price{
    position:absolute;
    right:5vw;
    line-height: 80px;
}
.card a{
    text-decoration: none;
}