#main-menu-container{
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
}
#main-menu-nav{
    width:240px;
    padding: 30px;
    background-color:rgba(11, 58, 247, 0.36);
}
#main-menu-content{
    flex:100%;
    background-color: rgba(247, 106, 11, 0.66);
}
#top-banner{
    width:100%;
    background: url("http://pipsum.com/1280x200.jpg") no-repeat;
    background-size:100% auto;
    background-position-y: center;
    height:100px;
}
#menuBar li,#menuBar ul{
    list-style-type: none;
}
#menuBar li:hover,#main-menu-nav a:hover{
    cursor: pointer;
}
ul{
    padding:0;
}