<nav>
  <label for="swt-view">View: </label>
  <input type="checkbox" (click) = "switchView(viewType)" name="swt-view">
</nav>
<div id="grid" *ngIf="viewType == 1">
  <grid-item-1  
    *ngFor="let item of PartIDs"
    [sku]="item.sku" 
    [displayname]="item.displayname" 
    [price]="item.price" 
    [new]="1"
    [quantity]="item.quantity"
    class="grid-1">
  </grid-item-1>
  
</div>
<div *ngIf="viewType == 0" id="list">
  <list-item-1 
    *ngFor="let item of PartIDs"
    [sku]="item.sku" 
    [displayname]="item.displayname" 
    [price]="item.price" 
    [new]="1"
    [quantity]="item.quantity"
    class="list-item"> 
</list-item-1>
</div>