<nav>
  <i class="material-icons view_list">view_list</i>
  <span class="flag-switch" >
    <input type="checkbox" id="check1" (click) = "switchView(viewType)" checked>
      <label for="check1"></label>
  </span>
  <i class="material-icons grid_on">grid_on</i>
</nav>
<div id="grid" *ngIf="viewType == 0">
  <grid-item-1  
    *ngFor="let item of PartIDs"
    [sku]="item.sku" 
    [displayname]="item.displayname" 
    [price]="item.price" 
    [new]="1"
    [quantity]="item.quantity"
    class="grid-1">
  </grid-item-1>
  
</div>
<div *ngIf="viewType == 1" id="list">
  <list-item-1 
    *ngFor="let item of PartIDs"
    [sku]="item.sku" 
    [displayname]="item.displayname" 
    [price]="item.price" 
    [new]="1"
    [quantity]="item.quantity"
    class="list-item"> 
</list-item-1>
</div>