<div id="app">
    <header>
        <!--
        <div class="flex">
            <img src="assets/mava.png" width="50px" alt="">
            <div class="search">
                <span *ngIf="login.status == true; else statuselse">Hola {{new_user.first_name}} {{new_user.last_name}}</span>
                
                <ng-template #statuselse><button *ngIf="state==='inactive'"(click)="toggleState()">Login!</button></ng-template>
                <div id="bag">
                    <div id="bag-count" [@cartState]="count" (click) =  "rotateBag()">{{BAG.count}}</div>
                    <div id="bag-logo" [@cartState]="cart" (click) = "rotateBag()"><img src="assets/shopping-bag-flat.png" alt="bag" width="40px"></div>
                </div>
            </div>
        </div>
        <div id="loginPanel" [@heroState]="state">
            <div class="blc">Logged: {{login.status}}</div>
            <span class="blc" id="login-panel-logo"><img src="assets/mava.png" width='100px'></span>
            <input class="blc" [(ngModel)]="login.email"type="text" placeholder="email">
            <input class="blc" [(ngModel)]="login.password"type="password" placeholder="password">
            <button class="blc" (click)="loginWithEmail()" >Login</button>
            <a class="blc" (click)="registerShow()">Register here</a>
            <div class="blc"><button (click)="toggleState()">Salir</button></div>
            <div id="register" [@registerState]="register">
                <h1>Enter your information:</h1>
                <input type="text" [(ngModel)]="new_user.first_name"name="first_name" placeholder="first_name">
                <input type="text" [(ngModel)]="new_user.middle_name"name="middle_name" placeholder="middle_name">
                <input type="text" [(ngModel)]="new_user.last_name"name="last_name" placeholder="last_name">
                <input type="text" [(ngModel)]="new_user.country"name="country" placeholder="Country">
                <input type="text" [(ngModel)]="new_user.state"name="state" placeholder="State">
                <input type="text" [(ngModel)]="new_user.city"name="city" placeholder="City">
                <input type="text" [(ngModel)]="new_user.neigh"name="neigh" placeholder="Neighborhood">
                <input type="text" [(ngModel)]="new_user.postal_code"name="postal_code" placeholder="Postal Code">
                <input type="text" [(ngModel)]="new_user.street_number"name="street_number" placeholder="Street and Number">
                <input type="text" [(ngModel)]="new_user.email"name="email" placeholder="email">
                <input type="text" [(ngModel)]="new_user.phone"name="phone" placeholder="phone">
                <input type="text" [(ngModel)]="new_user.age"name="age" placeholder="age">
                <input type="text" [(ngModel)]="new_user.genre"name="genre" placeholder="genre">
                <button (click)="registerShow()">Cancel</button>
                <button (click)="saveInformation()">SAVE</button>
            </div>
        </div>
        
        <a routerLink="/catalog-list">home</a>
        <a routerLink="/checkout/cart">Checkout</a>
        <a *ngIf="login.status == true;" routerLink="/user">User</a>
        -->
        <i class="material-icons" (click)="drawer_open()">menu</i>
        <h1>my E-Commerce</h1>
        <i class="material-icons icon-blue" (click)="cart_open()">shopping_cart</i>
    </header>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <h1 (click)="toggleLoginState()">Login</h1>
    </footer>  
    <div id="drawer">
        <div id="drawer-header">
            <h1>AppName</h1>
            <i class="material-icons icon-blue" (click)="close_all()">close</i>
            
        </div>
        <ul>
            <li><a href="/catalog-list"><i class="material-icons icon-blue">home</i>home</a></li>
            <li><a href="#"><i class="material-icons icon-blue">shopping_cart</i>cart</a></li>
            <li><a href="#"><i class="material-icons icon-blue">done_all</i>checkout</a></li>
            <li><a href="#"><i class="material-icons icon-blue">face</i>profile</a></li>
            <li><a href="#"><i class="material-icons icon-blue">store</i>orders</a></li>
            <li><a href="#"><i class="material-icons icon-blue">payment</i>payments</a></li>
            <li><a href="#"><i class="material-icons icon-blue">help</i>faq</a></li>
        </ul>
        <div id="drawer-footer">
            <h1>@feervalero</h1>
        </div>
    </div>
    <div id="drawer-shadow" (click)="close_all()" >
        
    </div>  
    <div id="loginp" [@loginState]="loginstate">
        <h1>Welcome</h1>
        <img src="assets/mava.png" alt="logo">
        <input type="text" id="user" placeholder="username">
        <input type="text" id="user-password" placeholder="password">
        <button (click)="registerToggle()">Register</button>
        <button id="btnLogin">login</button>
    </div>
    <app-register [@register]="registerState"></app-register>
</div>