*,html,body{
	margin:0;
	font-family:Arial;
	padding:0;
}
a{
	color:blue;
}
h1{
	color:orange;
}
header{
	top:0;
	left:0;
	margin:0px;
	
	width: 100%;
	background-color: orangered;
	color:white;
}
router-outlet{
	margin-top:100px;
}
footer{
	position: fixed;
	bottom:0;
	background-color: greenyellow;
	color:green;
	width:100%;
}
footer ul li{
	display: inline;
	list-style:none;
}