
	*,html,body{
		font-family:Arial;
	}
	a{
		color:blue;
	}
	h1{
		color:orange;
	}
	#app{
		display: flex;
		flex-direction:column;
		height: 100vh;
	}
	header{
		width: 100%;
		display: block;
		background-color: orangered;
		color:white;
	}
	#contenido{
		flex:100%;
		background-color: cyan;
	}
	footer{

		bottom:0;
		background-color: greenyellow;
		color:green;
	}
	#loginPanel,#register{
		position: fixed;
		top: 0px;left: 0;
		width:80vw;
		height: 80vh;
		margin:10vw 10vh;
		background-color: rgba(67, 172, 251, 0.76);
		z-index: 800;
		text-align: center;
	}
	.blc{
		display: block;
	}
	#loginPanel input,#loginPanel button{
		width:20;
		margin:0 auto;
	}
	#register{
		background-color: white;
		z-index: 900;
		margin:0;
	}