
	*,html,body{
		font-family:Arial;
	}
	a{
		color:blue;
	}
	h1{
		color:orange;
	}
	#app{
		display: flex;
		flex-direction:column;
		height: 100vh;
	}
	header{
		width: 100%;
		display: block;
		background-color: orangered;
		color:white;
	}
	#contenido{
		flex:100%;
		background-color: cyan;
	}
	footer{

		bottom:0;
		background-color: greenyellow;
		color:green;
	}
	footer ul li{
		
	}
