.content{
    
    margin-top: 50px;
}
.container{
    margin:5vh 0;
}
.flex{
    width:80vw;  
    font-weight: bold;
}
.sku{
    width:10vw;
    color:rgba(0,0,0,0.2);
    font-style: italic;
    font-size: 15px;
    
    
}
.new_label{
    color:green;
}
.cantidad{
    font-weight: bold;
    
}
.right{
    text-align: center;
    display: relative;
    width:10vw;
}
.right input{
    width:3vw;height: 3vw;
    text-align: center;
}
.out-of-stock{
    color:red;
    font-style: italic;
    font-size: 
}
